<div class="components-list">
  <h2>{{componentsListId}}</h2>
  <div (cdkDropListDropped)="onBoxCellItemDrop($event)"
       [cdkDropListConnectedTo]="getAllListsConnections()"
       [cdkDropListData]="components"
       [id]="componentsListId"
       cdkDropList
       class="items-list">
    <div *ngFor="let component of components" cdkDrag class="component">{{component}}</div>
  </div>
</div>

<br/><br/><br/>
<button (click)="printStructureToConsole()">Print structure to console</button><br/>
Row index: <input #rowIndex type="number" value="0"/><br/>
Column index: <input #columnIndex type="number" value="0"/><br/>
Row in column index: <input #rowInColumnIndex type="number" value="0"/><br/>
<button (click)="addRow(Number(rowIndex.value))">Add row</button>
<button (click)="addColumnInRow(Number(rowIndex.value), Number(columnIndex.value), Number(rowInColumnIndex.value))">
  Add column in row
</button>
<button (click)="addRowInColumn(Number(rowIndex.value), Number(columnIndex.value), Number(rowInColumnIndex.value))">
  Add row in column
</button>
<br/><br/>

<div class="box">
  <div *ngFor="let row of box.rows; let i = index" class="row">
    <div *ngFor="let column of row.columns; let j = index" [id]="'column-' + j" class="column">
      <div (cdkDropListDropped)="onBoxCellItemDrop($event)"
           *ngFor="let rowInColumn of column.columnRows; let k = index"
           [cdkDropListConnectedTo]=" getAllListsConnections()"
           [cdkDropListData]="rowInColumn.data"
           [id]="rowInColumn.id"
           cdkDropList
           class="row-in-column">
        {{rowInColumn.id}}
        <div *ngFor="let data of rowInColumn.data" cdkDrag class="component">{{data}}</div>
      </div>
    </div>
  </div>
</div>
